/EvryDay/bin/Debug/AForge.Controls.dll
/EvryDay/bin/Debug/AForge.Controls.xml
/EvryDay/bin/Debug/AForge.Imaging.dll
/EvryDay/bin/Debug/AForge.Imaging.xml
/EvryDay/bin/Debug/AForge.Math.dll
/EvryDay/bin/Debug/AForge.Math.xml
/EvryDay/bin/Debug/AForge.Video.DirectShow.dll
/EvryDay/bin/Debug/AForge.Video.DirectShow.xml
/EvryDay/bin/Debug/AForge.Video.dll
/EvryDay/bin/Debug/AForge.Video.xml
/EvryDay/bin/Debug/AForge.dll
/EvryDay/bin/Debug/AForge.xml
/EvryDay/bin/Debug/EvryDay.exe
/EvryDay/bin/Debug/EvryDay.exe.config
/EvryDay/bin/Debug/EvryDay.pdb
/EvryDay/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/EvryDay/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/EvryDay/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/EvryDay/obj/Debug/EvryDay.Main.resources
/EvryDay/obj/Debug/EvryDay.Properties.Resources.resources
/EvryDay/obj/Debug/EvryDay.csproj.CopyComplete
/EvryDay/obj/Debug/EvryDay.csproj.CoreCompileInputs.cache
/EvryDay/obj/Debug/EvryDay.csproj.FileListAbsolute.txt
/EvryDay/obj/Debug/EvryDay.csproj.GenerateResource.cache
/EvryDay/obj/Debug/EvryDay.csprojAssemblyReference.cache
/EvryDay/obj/Debug/EvryDay.exe
/EvryDay/obj/Debug/EvryDay.pdb
/EvryDay/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
